<nav class="navbar-container">
  <div class="top-navbar">

    <div class="navbar-brand-container">
      <strong>
        <%= link_to "ATHLETE.", root_path, class: "navbar-brand" %>
      </strong>
    </div>
    <div class="nav-menu">
      <%= link_to "HOME", root_path %>
      <%= link_to "PRODUCTS", products_path %>
    </div>
    <span class="navbar-text">
      <% if current_user %>
        <%= link_to current_user.email %> |
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <%#= link_to current_user.stripe_customer_id %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %> |
        <%= link_to "Register", new_user_registration_path %>
      <% end %>
    </span>
  </div>
  <div class="center-navbar">
    <div class="nav-search-bar">
      <%= form_tag products_path, method: :get do %>
        <div class="search-bar-form">
          <%= text_field_tag :query,
          params[:query],
          placeholder: "I'm looking for...",
          class: "search-bar-input"
          %>
          <%= submit_tag "Search", class: "search-bar-btn btn-primary" %>
        </div>
      <% end %>
    </div>

<%# <----------------------NEW PRODUCT BTN------------------------> %>
    <%# if current_user.admin? %>
      <%#= link_to 'NEW PRODUCT', new_product_path, class: "new-product-link" %>
    <%# end %>
<%# <--------------------------CART-------------------------------> %>
    <div class="cart-container" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
      <i class="fa-solid fa-cart-shopping fa-2xl"></i>
      <div class="cart-circle-container">
        <div class="cart-circle-number">
            <%= @cart.size %>
        </div>
      </div>
    </div>
<%# <------------------------CART MODAL ------------------------> %>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Shopping Cart
              <i class= 'fa-solid fa-cart-shopping fa-lg'></i>
            </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <span>Items:</span>
              <%= @cart.size %>
              <% total_price = 0 %>
              <% @cart.each do |cart_item| %>
                <hr>
                <div class="cart-product-card">
                  <% if cart_item.photo.attached? %>
                    <%= cl_image_tag cart_item.photo.key, class: "cart-product-img", alt: "shoe" %>
                  <% else %>
                    <img src="/noimage.png" alt="no-image" class="cart-product-img" >
                  <% end %>
                  <div class="cart-product-card-row">
                    <div class="cart-product-card-text">
                      <span><%= cart_item.name %></span>
                      <span>USD $<%= cart_item.price/100 -%></span>
                    </div>
                    <%= link_to "<i class='fa-regular fa-circle-xmark fa-lg'></i>".html_safe, remove_from_cart_path(cart_item), method: :delete %>
                  </div>
                </div>
                <br>
                <% total_price += cart_item.price %>
              <% end %>
              <hr>
              <strong>
                <span class="cart-total-price">TOTAL PRICE: $<%= total_price/100 -%></span>
              </strong>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <% if @cart.present? %>
                <% @cart.collect { |item| item.to_builder.attributes! } %>
                <%= button_to 'Buy now!', checkout_create_path, remote: true, data: { disable_with: "validating..."}, class:"btn btn-primary" %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# <----------------------BOTTOM NAVBAR---------------------------> %>
  <div class="<%= current_user&.admin? ? 'bottom-navbar-admin' : 'bottom-navbar' %>">
    <div class="<%= current_user&.admin? ? 'bottom-nav-item-admin' : 'bottom-nav-item' %>">
      <a href="/products?sort_by=newest_arrivals&commit=Sort" class="text-reset">NEW ARRIVALS</a>
    </div>
    <div class="<%= current_user&.admin? ? 'bottom-nav-item-admin' : 'bottom-nav-item' %>">
      <a href="/products?query=Men&commit=Search" class="text-reset">MEN</a>
    </div>
    <div class="<%= current_user&.admin? ? 'bottom-nav-item-admin' : 'bottom-nav-item' %>">
      <a href="/products?query=Women&commit=Search" class="text-reset">WOMEN</a>
    </div>
    <div class="<%= current_user&.admin? ? 'bottom-nav-item-admin' : 'bottom-nav-item' %>">
      <a href="/products?query=Kids&commit=Search" class="text-reset">KIDS</a>
    </div>
    <div class="<%= current_user&.admin? ? 'bottom-nav-item-admin' : 'bottom-nav-item' %>">
      <a href="/products?sort_by=discount_product&commit=Sort" class="text-reset">SALE</a>
    </div>
    <% if current_user&.admin? %>
      <div class="<%= current_user&.admin? ? 'bottom-nav-item-admin' : 'bottom-nav-item' %>", id='newProductItem'>
        <%= link_to 'NEW PRODUCT', new_product_path, class: "text-reset" %>
      </div>
    <% else  %>
      <div></div>
    <% end %>
  </div>
</nav>
