<%= form_with(model: product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price_cents %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.select :genre, ['Men', 'Women', 'Kids'], { prompt: "Select a genre" } %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount, default: 0 %>
  </div>

  <%# <div class="field"> %>
    <%#= form.label :size, "Sizes", class: "control-label" %>
    <%#= form.collection_check_boxes :size, ['6.5', '7', '7.5', '8', '8.5', '9', '9.5', '10', '10.5', '11', '11.5', '12', '12.5'], :to_s, :to_s do |b| %>
      <%# <span class="checkbox"> %>
        <%#= b.check_box + b.label { b.text } %>
      <%# </span> %>
    <%# end %>
  <%# </div> %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
