<div class="products-top-section">
  <h1>Products</h1>
  <div>
    <span>Sort by:</span>
    <select name="sort">
      <option value="featured" selected>Featured</option>
      <option value="price">Price: Low to High</option>
      <option value="price">Price: High to Low</option>
      <option value="newest">Newest Arrivals</option>
    </select>
  </div>
</div>
<div class="index-products-container">
  <% @products.each do |product| %>
  <div class="product-card">
    <div>
      <img src="assets/1.jpg" alt="shoe" class="index-product-img">
      <p><%= product.name %></p>
      <p>$<%= product.price_cents %></p>
      <p><%= product.stripe_product_id %></p>
      <p><%= product.stripe_price_id %></p>
      <p>Sales count: <%= product.sales_count %></p>
      <% if @cart.include?(product) %>
        <%= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
      <% else %>
        <%= button_to "Add to cart", add_to_cart_path(product) %>
      <% end %>
    </div>
    <div>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Stripe Product Id</th>
      <th>Stripe Price Id</th>
      <th>Sales count</th>
      <th></th>
      <th></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td>$<%= product.price_cents %></td>
        <td><%= product.stripe_product_id %></td>
        <td><%= product.stripe_price_id %></td>
        <td><%= product.sales_count %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if @cart.include?(product) %>
            <%= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
          <% else %>
            <%= button_to "Add to cart", add_to_cart_path(product) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Product', new_product_path %>
<hr>
<% if params[:session_id].present? %>
  <% @session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>
  <%= @session.payment_intent %>
  <%= Stripe::PaymentIntent.retrieve(@session.payment_intent) %>
  <hr>
  <% @session_with_expand = Stripe::Checkout::Session.retrieve({
    id: params[:session_id],
    expand: ["payment_intent", "line_items"]
  }) %>

  <%= @session_with_expand.line_items.data.each do |line_item| %>
    <%= line_item.price.id %>
    <%= line_item.price.product %>
  <% end %>
<% end %>
