<div>
  <div class="products-top-section">
    <h1>Products</h1>

    <%= form_tag products_path, method: :get do %>
      <%= select_tag :genre, options_for_select(["Men", "Women", "Kids"], params[:status]), prompt: "Filter by gender" %>
      <%= select_tag :brand, options_for_select(["Adidas", "Nike", "Puma", ""], params[:brand]), prompt: "Filter by brand" %>
      <%= select_tag :category, options_for_select(["Running", "Urban", "Tennis"], params[:category]), prompt: "Filter by type" %>
      <%= submit_tag "Filter" %>
    <% end %>

    <% if current_user.admin? %>
      <%= link_to 'New Product', new_product_path %>
    <% end %>
    <div class="sort-by">
      <span>Sort by:</span>
      <%= form_tag products_path, method: :get do %>
        <%= select_tag :sort_by, options_for_select([
          ['Price: Low to High', 'price_low_to_high'],
          ['Price: High to Low', 'price_high_to_low'],
          ['Newest', 'newest']
        ], params[:sort_by]) %>
        <%= submit_tag 'Sort' %>
      <% end %>
    </div>
  </div>

  <div class="index-products-container">
      <% @products.each do |product| %>
        <div class="product-card">
              <div class="product-card-discount">
                <%= link_to product_path(product) do %>
                  <div class="product-img-wrapper">
                    <img src="assets/1.jpg" alt="shoe" class="index-product-img" link_to product_path(product)>
                    <% if product.discount? %>
                      <span class="sale-icon">-<%= product.discount %>%</span>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <div class="product-card-text">
              <%= link_to product_path(product) do %>
              <div class="product-name-category">
                <strong><p class="product-name"><%= product.name.upcase %></p></strong>
                <span class="product-category"><%= product.category %></span>
              </div>
              <% end %>
              <% if product.discount? %>
                <div class="index-price-discount">
                  <del><p>$<%= (product.price_cents/(100-product.discount)*100)%></p></del>
                  <strong><p class="new-price">$<%= (product.price_cents) %></p></strong>
                </div>
              <% else %>
                <strong><p>$<%= product.price_cents %></p></strong>
              <% end %>
              <%#= product.stripe_product_id %>
              <%#= product.stripe_price_id %>
              <%#= product.sales_count %>
              <%# if @cart.include?(product) %>
                <%#= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
              <%# else %>
                <%#= button_to add_to_cart_path(product), class: "btn btn-primary" do %>
                  <%# <i class="fa-solid fa-cart-plus fa-lg"></i>
                  Add to cart %>
                <%# end %>
              <%# end %>
            </div>
        </div>
      <% end %>
  </div>
  <br>
  <% if params[:session_id].present? %>
    <% @session = Stripe::Checkout::Session.retrieve(params[:session_id]) %>
    <%= @session.payment_intent %>
    <%= Stripe::PaymentIntent.retrieve(@session.payment_intent) %>
    <hr>
    <% @session_with_expand = Stripe::Checkout::Session.retrieve({
      id: params[:session_id],
      expand: ["payment_intent", "line_items"]
    }) %>
    <%= @session_with_expand.line_items.data.each do |line_item| %>
      <%= line_item.price.id %>
      <%= line_item.price.product %>
    <% end %>
  <% end %>
</div>
