<div class="show-product-container">
  <script>
    function zoom(e){
      var zoomer = e.currentTarget;
      e.offsetX ? offsetX = e.offsetX : offsetX = e.touches[0].pageX
      e.offsetY ? offsetY = e.offsetY : offsetX = e.touches[0].pageX
      x = offsetX/zoomer.offsetWidth*100
      y = offsetY/zoomer.offsetHeight*100
      zoomer.style.backgroundPosition = x + '% ' + y + '%';
    }
  </script>
  <div class="show-left-container zoom" onmousemove="zoom(event)" <% if @product.photo.attached? %> style="background-image: url(<%= cl_image_path(@product.photo.key) %>)" <% else %> style="background-image: url(/noimage.png)" <% end %>>
    <% if @product.photo.attached? %>
      <%= cl_image_tag @product.photo.key, class: "show-product-img", alt: "shoe" %>
    <% else %>
      <img src="/noimage.png" alt="no-image" class="show-product-img" >
    <% end %>
  </div>
  <div class="show-right-container">
    <div>
      <h2><%= @product.name %></h2>
      <div class="product-price-genre">
        <div class="show-product-price">
          <% if @product.discount? %>
            <del><p>$<%= (@product.price_cents/(100-@product.discount)*100)%></p></del>
            <strong><p class="new-price">$<%= (@product.price_cents) %></p></strong>
          <% else %>
            <strong><p>$<%= @product.price_cents %></p></strong>
          <% end %>
        </div>
        <div class="show-genre-category">
          <p><%= @product.genre %>&nbsp; | &nbsp;</p>
          <p><%= @product.category %></p>
        </div>
      </div>
      <div>
        <span>COLORS:</span>
        <br>
        <% if @product.photo.attached? %>
          <%= cl_image_tag @product.photo.key, class: "show-product-color-img", alt: "shoe" %>
        <% else %>
          <img src="/noimage.png" alt="no-image" class="show-product-color-img" >
        <% end %>
      </div>
    </div>
    <br>
    <%= form_tag add_to_cart_path(@product, size: params[:size]), method: :post do %>
      <span>SELECT A SIZE:</span>
      <br>
      <table class="sizes-table">
        <tr>
          <td onclick="updateSelectedSize('6.5')"><label>6.5</label></td>
          <td onclick="updateSelectedSize('7')"><label>7</label></td>
          <td onclick="updateSelectedSize('7.5')"><label>7.5</label></td>
          <td onclick="updateSelectedSize('8')"><label>8</label></td>
          <td onclick="updateSelectedSize('8.5')"><label>8.5</label></td>
        </tr>
        <tr>
          <td onclick="updateSelectedSize('9')"><label>9</label></td>
          <td onclick="updateSelectedSize('9.5')"><label>9.5</label></td>
          <td onclick="updateSelectedSize('10')"><label>10</label></td>
          <td onclick="updateSelectedSize('10.5')"><label>10.5</label></td>
          <td onclick="updateSelectedSize('11')"><label>11</label></td>
        </tr>
        <tr>
          <td onclick="updateSelectedSize('11.5')"><label>11.5</label></td>
          <td onclick="updateSelectedSize('12')"><label>12</label></td>
          <td onclick="updateSelectedSize('12.5')"><label>12.5</label></td>
        </tr>
      </table>
      <%= hidden_field_tag :size, nil, id: "size-field" %>
      <br>
      <%= button_to add_to_cart_path(@product, size: nil), class: "add-to-cart-btn", method: :post, html: { type: "button", id: "add-to-cart-btn" } do %>
        <%= content_tag :i, nil, class: 'fa-solid fa-cart-shopping fa-lg', style: 'color: #ffffff;' %>
          Add to cart
      <% end %>
    <% end %>
    <script>
      function updateSelectedSize(size) {
        document.getElementById("size-field").value = size;
      }
      const tds = document.querySelectorAll('.sizes-table td');

      tds.forEach(td => {
        td.addEventListener('click', () => {
          tds.forEach(td => td.classList.remove('selected'));
          td.classList.add('selected');
          const sizeInput = td.querySelector('input[name=size]');
          sizeInput.checked = true;
        });
      });
    </script>
    <br>
    <div class="product-controls">
      <% if current_user&.admin? %>
        <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
        <%= link_to 'Edit', edit_product_path(@product) %>
      <% end %>
    </div>
  </div>
</div>
