<div class="show-product-container">
  <div class="show-left-container">
    <% if @product.photo.attached? %>
      <%= cl_image_tag @product.photo.key, class: "show-product-img", alt: "shoe" %>
    <% else %>
      <img src="/noimage.png" alt="no-image" class="show-product-img" >
    <% end %>
  </div>

  <div class="show-right-container">
    <div>
      <h2><%= @product.name %></h2>
      <div class="product-price-genre">
        <div class="show-product-price">
          <% if @product.discount? %>
            <del><p>$<%= (@product.price_cents/(100-@product.discount)*100)%></p></del>
            <strong><p class="new-price">$<%= (@product.price_cents) %></p></strong>
          <% else %>
            <strong><p>$<%= @product.price_cents %></p></strong>
          <% end %>
        </div>
        <div class="show-genre-category">
          <p><%= @product.genre %>&nbsp; | &nbsp;</p>
          <p><%= @product.category %></p>
        </div>
      </div>
      <div>
        <span>COLORS:</span>
        <br>
        <% if @product.photo.attached? %>
          <%= cl_image_tag @product.photo.key, class: "show-product-color-img", alt: "shoe" %>
        <% else %>
          <img src="/noimage.png" alt="no-image" class="show-product-color-img" >
        <% end %>
      </div>
    </div>
    <br>
    <%= form_tag add_to_cart_path(@product, size: params[:size]), method: :post do %>
        <span>SELECT A SIZE:</span>
        <table class="sizes-table">
          <tr>
            <td><%= radio_button_tag :size, '6.5' %><label>6.5</label></td>
            <td><%= radio_button_tag :size, '7' %><label>7</label></td>
            <td><%= radio_button_tag :size, '7.5' %><label>7.5</label></td>
            <td><%= radio_button_tag :size, '8' %><label>8</label></td>
            <td><%= radio_button_tag :size, '8.5' %><label>8.5</label></td>
          </tr>
          <tr>
            <td><%= radio_button_tag :size, '9' %><label>9</label></td>
            <td><%= radio_button_tag :size, '9.5' %><label>9.5</label></td>
            <td><%= radio_button_tag :size, '10' %><label>10</label></td>
            <td><%= radio_button_tag :size, '10.5' %><label>10.5</label></td>
            <td><%= radio_button_tag :size, '11' %><label>11</label></td>
          </tr>
          <tr>
            <td><%= radio_button_tag :size, '11.5' %><label>11.5</label></td>
            <td><%= radio_button_tag :size, '12' %><label>12</label></td>
            <td><%= radio_button_tag :size, '12.5' %><label>12.5</label></td>
          </tr>
        </table>
        <br>
        <%# <div> %>
          <%# <span>QUANTITY:</span> %>
          <%#= select_tag :quantity, options_for_select((1..10).map { |i| [i, i] }, 1) %>
        <%# </div> %>
        <%# <br> %>
        <%= button_to add_to_cart_path(@product), class: "add-to-cart-btn", method: :post, html: { type: "button" } do %>
          <%= content_tag :i, nil, class: 'fa-solid fa-cart-shopping fa-lg', style: 'color: #ffffff;' %>
            Add to cart
        <% end %>
    <% end %>
    <br>
  </div>
</div>

<div class="product-controls">
  <% if current_user&.admin? %>
    <%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>
</div>
