<div class="show-product-container">
  <div class="show-left-container">
    <img src="/assets/1.jpg" alt="shoe" class="show-product-img">
  </div>

  <div class="show-right-container">
    <div>
      <h2><%= @product.name %></h2>
      <strong><p>$<%= @product.price_cents %></p></strong>
      <p><%#= @product.stripe_product_id %></p>
      <p><%#= @product.stripe_price_id %></p>
      <div>
        <span>COLORS:</span>
        <br>
        <img src="/assets/1.jpg" alt="shoe" class="show-product-color-img">
      </div>
      <%# if @cart.include?(product) %>
        <%#= button_to "Remove from cart", remove_from_cart_path(product), method: :delete %>
      <%# else %>
        <%#= button_to "Add to cart", add_to_cart_path(product) %>
      <%# end %>
    </div>
    <%# <div class="sizes-table"> %>
    <span>SELECT A SIZE:</span>
      <table class="sizes-table">
        <tr>
          <td>6.5</td>
          <td>7</td>
          <td>7.5</td>
          <td>8</td>
          <td>8.5</td>
        </tr>
        <tr>
          <td>9</td>
          <td>9.5</td>
          <td>10</td>
          <td>10.5</td>
          <td>11</td>
        </tr>
        <tr>
          <td>11.5</td>
          <td>12</td>
          <td>12.5</td>
        </tr>
      </table>
      <div>
        <span>QUANTITY:</span>
        <select name="select">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      <%= button_to add_to_cart_path(@product), class: "add-to-cart-btn", method: :post, html: { type: "button" } do %>
      <%= content_tag :i, nil, class: 'fa-solid fa-cart-shopping fa-lg', style: 'color: #ffffff;' %>
        Add to cart
      <% end %>
    <%# </div> %>

  </div>

</div>





<p>
  <strong>Price:</strong>
  <%= @product.price_cents %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
