<!DOCTYPE html>
<html>
  <head>
    <title>RailsEcommerceStripe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%# <hr> %>
    <%# <h1>Shopping cart</h1>
    Items: %>
    <%#= @cart.size %>
    <%# <br> %>
    <%# @cart.each do |cart_item| %>
      <%# <br> %>
      <%#= cart_item.name %>
      <%#= cart_item.price/100 %>
      <%#= link_to "x", remove_from_cart_path(cart_item), method: :delete %>
    <%# end %>
     <%# if @cart.present?  %>
       <%#= @cart.collect { |item| item.to_builder.attributes! } %>
       <%#= button_to 'Buy now!', checkout_create_path, remote: true, data: { disable_with: "validating..."} %>
     <%# end %>
    <%# <hr> %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= render 'shared/footer' %>
  </body>
</html>
