<!DOCTYPE html>
<html>
  <head>
    <title>RailsEcommerceStripe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Products", products_path %>
    <% if current_user %>
      <%= link_to current_user.email %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <%= link_to current_user.stripe_customer_id %>
    <% else %>
      <%= link_to "Log in", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
    <% end %>
    <hr>
    <h1>Shopping cart</h1>
    <%= @cart.each do |product| %>
      <%= product.name %>
      $<%= product.price/100  %>
    <% end %>
    Items:
    <%= @cart.size %>
    <br>
    <% @cart.each do |cart_item| %>
      <br>
      <%= cart_item.name %>
      <%= link_to "x", remove_from_cart_path(cart_item), method: :delete %>
    <% end %>
    <hr>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
